{% extends "base.html" %}
{% load static %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  <h1>Привет, меня зовут Лина!</h1>
  <p>
    Я очень люблю собирать пазлы. Более того, я профессионально собираю пазлы на скорость
    и уже успела поучаствовать в нескольких международных соревнованиях. На некоторых - даже выиграть ;)
    Вы спросите, зачем вам эта информация?
  </p>
  <p align="center">
    <img src="{% static 'img/puzzles.jpg' %}" height="200" alt="Фоточка с пазлами">
  </p>
  <p>
    Просто создание сайта в чём-то очень похоже на сборку пазла. Разные страницы, разные функции...
    Всё это детали, из которых, при должном умении, можно собрать интересный и полезный проект :)
    Как, например, Puzzlife. Да, тематика тоже была выбрана неслучайно ;)
  </p>
  <ul>
    И пусть я не профессиональный верстальщик, но в ходе работы над Puzzlife смогла многому научиться:
    <li>
      Создание связей между адресами в строке браузера и тем, что видит пользователь
    </li>
    <li>
      Создание, редактирование и оптимизация шаблонов страниц
    </li>
    <li>
      Добавление классов различным элементам оформления
    </li>
    <li>
      Добавление картинок (куда же мы без них)
    </li>
  </ul>
  <p>
    И пусть мне ещё многому предстоит научиться, я считаю, что уже добилась многого :)
  </p>
  <ul>
    Если у вас есть какие-то вопросы, то можете задать их мне по почте:
    <li>
      <a href="mailto:alina1901@ya.ru">alina1901@ya.ru</a>
    </li>
    Или в социальной сети ВКонтакте:
    <li>
      <a href="https://vk.com/shershon/">Лина Иванова</a>
    </li>
  </ul>
{% endblock %}
