{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h1>Технологии</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python 3.7
      </li>
      <li class="list-group-item">
        Django 2.2
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>
      В ходе работы над данным проектом помимо знаний языка Python и особенностей фреймворка Django
      были применены знания html-разметки, добавления css-классов. Проект был мануально и автоматически протестирован.
    </p>
  </article>
</div>
{% endblock %}
